@charset "utf-8";
/* CSS Document */
body{margin:0; padding:0;}
h1{margin:0; padding:4px 0px 6px 28px; font:bold 13px arial; /*background:url(../images/gredientstk.jpg) no-repeat bottom left;*/ text-align:left}
h2{margin:0; padding:10px 0px 0px 2px; font:bold 14px arial; text-align:left; border-bottom:1px solid #ccc;}
img{border:0px;}

.clear{clear:both;}
.mainframe{width:auto; border:1px solid #045890; height:auto; margin:0 auto; float:left;}
.logo{float:left; padding:2px 0  0 2px}

.mainrow{width:100%; border-bottom:0px solid #ccc; height:auto; padding-left:2px; font:bold 12px arial; float:left; display:block}
.centermainrow{width:100%; border-bottom:0px solid #ccc; text-align:center; height:auto; font:12px arial; float:left; display:block}

.mainrownor{width:100%; border-bottom:0px solid #ccc; height:auto; padding-left:2px; font:12px arial; float:left; display:block}

.contentcontainer{font:bold 12px arial; width:67px; padding:6px 0px 0px 4px ; float:left; display:inline; border:0px solid #000;}
.txtfldcontainer{font:12px arial; width:100px; float:left; display:inline; margin-left:2px; border:0px solid #000;}
.buttoncontainter{font:12px arial; width:70px; float:left; display:inline; border:0px solid #000;}

/*Journey Date*/
.contentcontainerJD{font:bold 12px arial; width:67px; padding:6px 0px 0px 4px ; float:left; display:inline; border:0px solid #000;}
.txtfldcontainerJD{font:12px arial; width:100px; margin-left:2px; float:left; display:inline; border:0px solid #000;}
.buttoncontainterJD{font:12px arial; width:70px; float:left; display:inline; border:0px solid #000;}
/*Journey Date End*/
.txtinfo{width:100%; text-align:left; font:11px arial; padding-left:2px; color:#666; float:left; display:block;}
.txtinfolink{width:100%; text-align:center; font:11px arial; padding-left:2px; color:#666; float:left; display:block; text-decoration:none;}
.redtxtinfo{width:100%; text-align:left; font:11px arial; padding-left:2px; color:#660000; float:left; display:block;}
.combodrop{font:12px arial; border:1px solid #ccc;}
.selectradio{vertical-align:middle;}

.CCtxtfld{width:40px; border:1px solid #ccc; font:12px arial;}
.quotagen{width:72px; float:left; display:inline; font:12px arial;  border:0px solid #000;}
.quotalal{width:65px; float:left; display:inline; font:12px arial;  border:0px solid #000;}
.quotaitkt{width:65px; float:left; display:inline; font:12px arial;  border:0px solid #000;}

.bottombotton{text-align:right; margin:0px 4px 4px 0px; width:220px; clear:both}

.textfileld{width:120px; border:1px solid #ccc; margin-top:2px;}
.longtextfileld{width:250px; border:1px solid #ccc; margin-top:2px;}
.btn{font:bold 11px arial; background-color:#4c99cc; color:#fff; border:1px solid #1d74ae; margin-top:3px; cursor:pointer;}
.chkbox{vertical-align:middle;}
.radiobtn{vertical-align:middle;}
.separator{color:#FF9900;}
.nametxtfld{width:150px; border:1px solid #ccc; font:12px arial;}
.gerytxt{font:bold 14px arial; color:#666; text-decoration:none;}
.gerytxtdiv{font:bold 14px arial; color:#666; text-align:center; padding:5px 0 3px 0; }
.greytxtdivleft{font:bold 14px arial; color:#666; text-align:left; padding:5px 0 3px 0; }

.productbox{background-color:#EEEEEE; border:1px solid #ccc; width:96%; margin:2px auto 0 auto; font:12px arial; padding:3px 6px}

#header{background-color:#009ACF; height:40px; border-bottom:4px solid #FFAC1B}
.italicsmsg{font:11px arial; font-style:italic; padding:3px 3px; color:#666;}

.valign{vertical-align:top;}
.producthead{font:18px arial; color:#009ACF; padding:13px 0 13px 13px; text-decoration:none;}
.links{font:bold 14px arial; color:#000; text-decoration:none; padding:0px 8px 0px 8px;}
a.links:hover{
background-color: #FF9900;
}


.listlinks{font:12px arial; color:#0033FF; text-decoration:none;}
.normalblack{font:14px arial; color:#000; text-align:center; vertical-align:middle; padding:8px 0; background-color:#CCCCCC; border-top:2px solid #666;}
.notetext{font:14px arial; color:#FF0000; text-align:center; vertical-align:middle; padding:8px 0; background-color:#CCCCCC; border-top:2px solid #666;}
.whitebold{font:bold 16px arial; color:#fff;}
.whiteboldpadding{font:bold 16px arial; color:#fff; padding-top:10px;}
.footercont{font:11px arial; color:#000; text-align:center; background-color:#009ACF; padding:8px 0;}
.normaltxt{font:bold 12px arial; color:#666666}
.helptxt{font:11px arial; color:#999999; font-style:italic; padding:3px 7px; text-align:left}
.buttonholder{background-color:#eee;  border-top:2px solid #FFAC1B;}
.separatorbox{background-color:#FFFFFF; height:25px;}
.homeURL{float:right; width:20px; height:20px; margin-right:2%;}
.ErrorMsg{width:98%; margin:0 auto; border:1px solid #ff0000; background-color:#FFCCCC; font:bold 12px arial; color:#ff0000; text-align:center; padding:1px; }